{% extends 'todos/base.html' %} {% load django_bootstrap5 %} 

{%block title%}Criar tarefa{% endblock title %} 


{% block content %}

<div class="container pb-5">
  <div class="col-md-8 offset-md-2 bg-info rounded p-4 mt-4">
    {% if form.instance.pk %}
    <h2 class="text-center mb-4">Editar tarefa</h2>
    {% else %}
    <h2 class="text-center mb-4">Adicionar nova tarefa</h2>
    {% endif %}

    <form method="post" class="form text-start">
      {% csrf_token %} {% bootstrap_form form %}

      <div class="mt-3">
        <button type="submit" class="btn btn-primary w-100">
          {% if form.instance.pk %}
          Salvar alterações
          {% else %}
          Adicionar
          {% endif %}
        </button>
      </div>

      <input type="hidden" name="next" value="{% url 'todo_list' %}" />
    </form>
  </div>
</div>

{% endblock content %}
